body {
    text-align: center;
    font-size: 35px;
    font-family: serif;
    color: #000000;
    background-color: background: rgb(0,252,255);
background: linear-gradient(90deg, rgba(0,252,255,1) 0%, rgba(229,45,253,1) 50%, rgba(252,69,69,1) 100%);
}

#home {
    height: 3000px;
    background: background: rgb(0,252,255);
background: linear-gradient(90deg, rgba(0,252,255,1) 0%, rgba(229,45,253,1) 50%, rgba(252,69,69,1) 100%);
}
img{
    width: 450px;
    border-style: solid;
}